.DS_Store
.idea
*.egg-info
*.log
*.pyc
*.db
*.swp
*.swo
*.zip
*.tox
*~
*.mo
*.pot
*.tgz
*.db
*.rdb
*.sqlite
*.map
.qshell
.cache
.vendor
.venv
.env
__pycache__

scdev
dist
build
testdata
instance
production.py
logs
uploads
openid
celerybeat-schedule
env/
venv/
simplecloud/static/styles/.sass-cache
docker/shiyanlou/packages
docker/shiyanlou/requirements.txt

node_modules
dest
manifest.json
.project
.coverage
.vscode/
simplecloud/static/admin_spa/antd/
antd
.#*
